@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 2rem 0;
}

.headerSearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  border: 1px solid var(--text-300);
  padding: 1rem;
  width: 100%;
  max-width: 950px;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  position: relative;
}

.separator {
  width: .07rem;
  height: 2rem;
  background-color: var(--text-400);
}

.headerSearchInput {
  width: 100%;
  border: none;
  padding: 0.7rem 0.5rem;
  font-size: 1rem;
}

.headerIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.locationIcon {
  color: var(--rose-500);
}

.calendarIcon {
  color: var(--primary-700);
}

.headerSearchBtn {
  background-color: var(--primary-600);
  padding: .8rem 1rem;
  border-radius: 1rem;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.guestOptions {
  background-color: var(--white);
  box-shadow: 0 0 10px #efefef;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid var(--text-100);
  position: absolute;
  top: 2rem;
  width: 100%;
  z-index: 10;
}

.guestOptionItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.guestOptionItem:not(:last-child) {
  margin-bottom: .7rem;
}

.optionCounterBtn {
  padding: 0.5rem;
  border-radius: .5rem;
  color: var(--text-600);
  background-color: var(--text-100);
}

.operation {
  display: flex;
  column-gap: 0.9rem;
  align-items: center;
}

.calendar {
  position: absolute;
  top: 2rem;
  z-index: 10;
}

.primaryBtn {
  color: var(--white);
  background-color: var(--primary-600);
  padding: .8rem 1rem;
  border-radius: .5rem;
  font-weight: bold;
  font-size: 1rem;
}

.bookmarkBtn {
  margin-left: 1rem;
  color: var(--primary-600);
  border: 2px solid var(--primary-600);
  padding: .8rem 1rem;
  border-radius: .8rem;
  font-weight: bold;
  font-size: 1rem;
}

.loginBtn {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.profileIcon {
  width: 3.5rem;
  height: 3.5rem;
  color: var(--text-300);
  margin-left: 1rem;
}

.profileMenuContainer {
  background-color: var(--white);
  box-shadow: 0 0 10px #efefef;
  border-radius: 1rem;
  border: 1px solid var(--text-100);
  position: absolute;
  top: 2.5rem;
  width: 10rem;
  z-index: 10;
  overflow: hidden;
}

.profileMenuItem {
  padding: 1rem;
  cursor: pointer;
}

.profileMenuItem:hover {
  background-color: var(--text-300);
}

.profileMenuItem>button {
  font-size: 1rem;
}


.guestOptionItem:not(:last-child) {
  margin-bottom: .7rem;
}

/* Location List */
.locationsContainer {
  margin: 0 auto;
}

.locationList {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
}

.locationItem img {
  width: 100%;
  height: 15rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.locationItem .locationItemDesc .name {
  color: var(--text-400);
}

.locationItem .locationItemDesc .price {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.locationItem .locationItemDesc .price span {
  color: var(--text-400);
  font-weight: 400;
}

.appLayout,
.bookmarkLayout {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  height: calc(100vh - 130px);
  align-items: stretch;
}

.searchList {
  margin-top: 1rem;
}

.searchItem {
  display: flex;
  column-gap: 1rem;
  margin-bottom: 1rem;
}

.searchItem img {
  width: 6rem;
  height: 6rem;
  border-radius: .8rem;
}

.searchItem .searchItemDesc p {
  margin-bottom: 0.3rem;
}

.searchItem .searchItemDesc .name {
  color: var(--text-400);
}

.searchItem .searchItemDesc .location {
  font-weight: 500;
}

.searchItem .searchItemDesc .price {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.sidebar {
  width: 45%;
  overflow-y: scroll;
  padding-right: 1rem;
}

.mapContainer {
  flex: 1;
  background-color: var(--text-100);
  position: relative;
  z-index: 1;
}

.map {
  height: 100%;
}

.getLocation {
  background-color: var(--primary-600);
  color: var(--white);
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 1000;
  padding: 0.4rem 0.6rem;
  border-radius: 0.6rem;
  box-shadow: 0 0 10px var(--primary-600);
  font-weight: bold;
}

.current-hotel {
  border: 3px solid var(--primary-700);
  border-radius: 1rem;
}

/* Selected Hotel */
.singleHotel {
  display: flex;
  flex-direction: column;
  row-gap: .8rem;
}

.singleHotelImage {
  border-radius: .8rem;
  height: 20rem;
}

/* Add New Bookmark */
.form {
  margin-top: 1rem;
}

.formControl {
  margin-bottom: .8rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.formControl>input {
  margin-top: .8rem;
}

.flag {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
}

.formControl>label {
  font-weight: bold;
  color: var(--text-500);
}

.formControl>input {
  border: 1px solid var(--text-400);
  border-radius: .5rem;
  padding: .8rem .6rem;
  font-size: 1rem;
}

.formAction {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.backBtn {
  border: 1px solid var(--text-400);
  color: var(--text-700);
  padding: .6rem 1.1rem;
  border-radius: .5rem;
  font-weight: bold;
}

.addBtn {
  background-color: var(--primary-600);
  color: var(--white);
  padding: .6rem 1.1rem;
  border-radius: .5rem;
  font-weight: bold;
}

.addBtn:disabled {
  background-color: #d9dbdf;
}

/* Bookmarks List */
.bookmarksList {
  margin-top: 1rem;
}

.bookmarkItem {
  border: 1px solid var(--text-400);
  padding: .8rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.bookmarkItem>div>* {
  margin-right: .5rem;

}

.deleteIcon {
  color: var(--rose-500);
  font-size: 1.25rem;
}

.selectedBookmark {
  background-color: var(--text-100);
  border: 2px solid var(--primary-600);
}

/* selected One Bookmark */

.singleBookmark {
  border: 1px solid var(--text-400);
  padding: .8rem 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

/* Login page */
.loginForm {
  border: 1px solid var(--text-300);
  border-radius: 1rem;
  max-width: 25rem;
  padding: 1rem;
  margin: 0 auto;
}

.loginForm>form>button {
  width: 100%;
  margin-top: 1rem;
}

.loginForm>form>button:disabled {
  background-color: #d9dbdf;
}

.error {
  color: var(--rose-500);
  font-size: small;
}




@media only screen and (max-width: 1074px) {
  .headerSearch {
    flex-direction: column;
    border-radius: none;
    padding: none;
    row-gap: 1rem;
  }

  .headerSearchItem:nth-child(4),
  .headerSearchBtn,
  .headerSearchItem:nth-child(5),
  .bookmarkBtn {
    width: 100%;
    border-radius: .8rem;
  }

  .headerSearchItem:nth-child(-n+3) {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--text-300);
  }

  .headerSearchInput {
    padding: 0;
  }

  .separator {
    display: none;
  }

  .calendar {
    width: 100%;
    top: 3rem;
  }

  .header {
    flex-direction: column;
  }

  .loginBtn {
    margin-bottom: 1rem;
  }

  .bookmarkBtn {
    margin-left: 0;
  }
}

@media only screen and (max-width: 760px) {

  .appLayout,
  .bookmarkLayout {
    flex-direction: column;
    height: auto;
  }

  .map {
    height: calc(100vh);
  }

  .mapContainer {
    margin-top: 1rem;
  }

  .sidebar {
    width: 100%;
    overflow-y: hidden;
  }
}

@media only screen and (max-width: 720px) {
  .locationList {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width:520px) {
  .locationList {
    grid-template-columns: auto;
  }
}